@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Mulish', sans-serif;
}

.linearGrad{
  background-image: linear-gradient(to bottom, #f17d01, #e36611, #d34f19, #c1391e, #ae2120);
}

.herosec{
 height: 80px;
}

.Car{
  display: flex;
  justify-content: center;
  align-items: end;
}

.hero1-text{
  margin-left: 80px;
}

.details{
  margin-top: 50px;
}

.grid-details{
  margin-left: 10%;
  padding-block: 25px;
}

.heading-details{
  padding-top: 25px;
}

.img-details{
  margin-left: 25px;
}

.insurance{
  margin-block: 72px;
}

.swapper{
  display: flex;
  margin-inline: 10% ;
}

.swapper-img{
  margin-left: 10%;
}

.swapper-content{
  padding-top: 25px;
  padding-bottom: 30px;
}

.swapper-left-arrow{
  cursor: pointer;
}
.swapper-right-arrow{
  cursor: pointer;
}

.third-party{
  margin-inline:5%;
}

.third-paryty-text{
  padding-block: 25px;
}

.online-card{
  height: 240px;
}

.included {
  padding-block: 25px;
  padding-inline: 150px;
}

.container{
  margin-inline: auto;
  overflow: hidden;
  max-width: 1440px;
}

.insurance-p{
  padding-right: 42px;
  font-size: 16px;
  line-height: 24px;
}

.swapper-d1{
  padding-right: 50px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
}

.swapper-d2{
  padding-right: 50px;
  font-size: 16px;
  line-height: 24px;
}

.third-party-table{
  margin-inline: 15%;
}

.things-box-text{
  padding-right: 25px;
}

.general-text{
  font-size: 16px;
  line-height: 24px;
}

.hero{
  padding-bottom: 50px;
}


@media screen and (max-width: 1023px) {
  .hero{
    padding: 25px;
    margin-top: 20px;
    padding-bottom: 30px;
  }

  .third-party{
    margin-inline: 0px;
  }
  

  .hero1{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .hero1-img{
    display: none;
  }
  .hero3{
    margin-inline: 0;
  }

  .insurance-p{
    padding-right: 10px;
    font-size: 14px;
  }

  .things-box-text{
    padding-block: 25px;
  }

  .swapper-mq{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .swapper-mq1{
    margin-bottom: 50px;
  }

  .rating-button{
    margin-bottom: 2rem;
  }

  .rating-name{
    font-size: 18px;
  }
  
  .options-hidden{
    display: none;
  }
  
  .insurance{
    flex-direction: column;
  }
  .swapper{
    flex-direction: column;
  }
  .swapper-img{
    margin-top: 25px;
  }
  
}



@media screen and (max-width: 768px) {
  .NavUpperLine{
    justify-content: center;
    align-items: center;
  }
  .options-hidden{
    display: none;
  }

  .online-card{
    height: 170px;
  }

  .general-text{
    font-size: 14px;
    line-height: 20px;
  }

  .swapper-main-title{
    padding-inline: 15px;
  }

  .things-section{
    padding: 20px;
  }
 
  .third-party-table{
    margin-inline: 5%;
  }

  .answer-section{
    padding-inline: 20px;
  }

  .swapper-d1{
    padding-right: 10px;
  }
  .swapper-d2{
    padding-right: 10px;
  }


  .insurance{
    padding-inline: 20px;
  }

  .premium-section{
    padding-inline: 20px;
  }

  .included{
    padding-inline: 75px;
  }

  .swapper-mq1{
    margin-inline: 25px;
  }
  .swapper-mq2{
    padding-top: 25px;
  }

  .swapper-title{
    text-align: center;
  }

  .swapper-mq{
    padding-inline: 25px;
  }

  .rating-name{
    font-size: 16px;
  }

  .premium-flex{
    display: flex;
    flex-direction: column;
  }

  .NavUpperLine-left{
    display: none;
  }
  
}



@media screen and (max-width:450px) {

  .swapper-title{
    text-align: start;
  }

  .hero{
    padding: 20px;
    margin-top: 15px;
  }

  .things-section{
    padding: 15px;
  }

  .answer-section{
    padding-inline: 15px;
  }

  .insurance-p{
    font-size: 13px;
    line-height: 18px;
  }

  .rating-name{
    font-size: 13px;
  }


  .premium-section{
    padding-inline: 15px;
  }

  .swapper-d1{
    font-size: 13px;
    line-height: 18px;
  }

  .swapper-d2{
    font-size: 13px;
    line-height: 18px;
  }

  .swapper{
    margin-inline: 0;
  }
  .included{
    padding-inline: 35px;
  }
}